h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

.header_div {
    text-align: center;
    background: #78c2ad;
    height: 10%;
    width: 100%
  }

.main_div {
    min-width: 1160px;
    max-width: 75%;
    margin: auto;
}

.selector {
    display: inline-block;
    text-align: center;
}

.radio_selector {
    text-align: center;
    font-size: 15px;
}

.slider_selector {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
