.header_div {
    text-align: center; 
    font-size: 20px
}

.info_text {
    text-align: center; 
    font-size: 17px
}

.top_plot_div {
    text-align: center; 
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px grey;
    padding: 5px 5px 5px 5px;
    margin: 5px;
}

.indiv_bottom_graph {
    text-align: center; 
    width: 33%; 
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px grey;
    padding: 5px 5px 5px 5px;
    margin: 5px;
}

.selector {
    display: inline-block;
    text-align: center;
    width: 90%
}

.container_shadow {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px grey;
    padding: 5px 5px 5px 5px;
    margin: 5px;
  }