header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

h3 {
    text-align: center;
}

.info_text {
    text-align: center; 
    font-size: 17px
}

.card_div {
    text-align: center; 
    background-color: white;
    box-shadow: 0px 0px 1px 0px grey;
    padding: 5px 5px 5px 5px;
    margin: 10px;
}

.selector {
    display: inline-block;
    text-align: center;
    width: 90%
}

.slider_row {
    width: 50%;
    text-align: center;
    display: inline-block;
}

main {
    /* padding: 100px;
    text-align: center; */
    background: #0e0bcc;
    /* color: white;
    font-size: 30px;
    float: left;
    width: 20%; */
}