h3 {
    text-align: center;
}

.header_div {
    text-align: center; 
    font-size: 20px;
    background-color: rgb(154, 197, 211);
}

.info_text {
    text-align: center; 
    font-size: 17px
}

.card_div {
    text-align: center; 
    background-color: white;
    box-shadow: 0px 0px 1px 0px grey;
    padding: 5px 5px 5px 5px;
    margin: 10px;
}

.selector {
    display: inline-block;
    text-align: center;
    width: 90%
}

.slider_row {
    width: 50%;
    text-align: center;
    display: inline-block;
}